<div id="resultsDiv">
  <h1 class="text-center">Your Burgers</h1>
    <% data.forEach(function(favorite) { %>
    <div class>
      <form action="/profile/:id" method="POST">
        <input type="hidden" name="restaurantId" value="<%= favorite.id %>">
        <input type="hidden" name="restaurantName" value="<%= favorite.name %>">
        <input type="hidden" name="restaurantUrl" value="<%= favorite.url %>">
        <a class="btn-floating waves-effect waves-light red"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
        <h5 class="text-center"><a href="<%= favorite.url %>"><%= favorite.name %></a></h5><img class="imgUrl" src="<%= favorite.rating_img_url %>">
      </form>
    </div>
<% }) %>
</div>
